@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --text-color: #3a3a3a;
}
body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.logo {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 700;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}

nav > ul {
  display: flex;
  gap: 2.125rem;
  list-style: none;
}

nav > ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.125rem;
}
.banner-title {
  color: var(--text-color);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 4.375rem;
}
.banner-description {
  color: var(--text-color);
  font-weight: 600;
  width: 80%;
}

.banner-btn {
  position: relative;
  display: inline-flex;
  padding: 12px 24px;
  border-radius: 2.5rem;
  background: #e02c6d;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 2s;
}
.banner-btn:hover {
  background-color: #d20d55;
}
.banner-btn p {
  color: #fff;
  font-size: 1rem;
  margin-right: 0.5rem;
  font-weight: 700;
}
.banner-image {
  background-image: url("../assets/images/Circledesign.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-image img {
  margin-top: 2.815rem;
}

main {
  margin: 6rem auto;
}

.sponsors {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding: 2rem 1rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-image: linear-gradient(
    40deg,
    rgba(101, 98, 83, 0.6587009803921569) 0%,
    rgba(0, 0, 0, 1) 51%,
    rgba(103, 95, 74, 0.5942752100840336) 100%
  );
  border-image-slice: 1;
}
.sponsors img {
  width: 80%;
  margin: 0 auto;
}
/* Media Query */

@media screen and (max-width: 576px) {
  nav,
  .banner {
    flex-direction: column;
    align-items: center;
  }
  .banner-title{
    text-align: center;
    font-size: 2.25rem;
}
.banner-description{
    margin: 0 auto;
}
  .sponsors {
    border: none;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
  }

  .sponsors img {
    width: 20%;
  }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
  nav,
  .banner {
    flex-direction: column;
    align-items: center;
  }
.banner-title{
    text-align: center;
}
.banner-description{
    margin: 0 auto;
}
  .sponsors {
    border: none;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
  }

  .sponsors img {
    width: 20%;
  }
}

.hide {
  display: none;
}
